<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rijksstudio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
.center {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 10px;
    width: 60%;
    margin-top: 1em;
    text-align: center;
}

tr {
    text-align: center !important;
}

</style>
<body>
  
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <img href="/" src="/../static/images/frontend/rijksmuseum.svg" width="150" height="50" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>    
      </ul>
    </div>
  </div>

</nav>

<div class = "center bg-dark text-light">

Check the table below to see our top 10 users! You are currently ranked at #{{current_spot}} on the leaderboard! <br><br><br>

{% for table in tables %}
    {{ table|safe }}
{% endfor %}

</div>
</body>
</html>